Repository telink-semi/zephyr, pull requests merged in 2024-12, with the labels that each got.

#398 west.yml: update hal telink
  west.yml
Labels: manifest, manifest-hal_telink

#410 riscv: tlx: fix retention .
  dts/riscv/telink/telink_tl321x.dtsi
  soc/riscv/riscv-privilege/telink_tlx/ilm.ld
  soc/riscv/riscv-privilege/telink_tlx/matter_retention.ld
  soc/riscv/riscv-privilege/telink_tlx/start.S
  west.yml
Labels: manifest, manifest-hal_telink

#411 telink: crypto: mbedtls: Add missed wrappers for MbedTLS HW acceleration
  soc/riscv/riscv-privilege/telink_w91/CMakeLists.txt
  soc/riscv/riscv-privilege/telink_w91/crypto/mbedtls_wrapper.c
  west.yml
Labels: manifest, manifest-hal_telink

#412 telink: crypto: mbedtls: Add missed wrappers for MbedTLS HW acceleration
  soc/telink/tlsr/telink_w9x/CMakeLists.txt
  soc/telink/tlsr/telink_w9x/crypto/mbedtls_wrapper.c
  west.yml
Labels: manifest, manifest-hal_telink

#430 telink: Rework LZMA module in a usual Zephyr way
  MAINTAINERS.yml
  modules/Kconfig
  modules/lzma/.gitignore
  modules/lzma/CMakeLists.txt
  modules/lzma/Kconfig
  modules/lzma/configs/config.h
  modules/lzma/lib/zephyr/module.yaml
  soc/telink/tlsr/telink_b9x/Kconfig
  soc/telink/tlsr/telink_tlx/Kconfig
  submanifests/telink.yaml
Labels: manifest, manifest-lzma

#434 telink: Rework LZMA module in a usual Zephyr way
  MAINTAINERS.yml
  modules/Kconfig
  modules/lzma/.gitignore
  modules/lzma/CMakeLists.txt
  modules/lzma/Kconfig
  modules/lzma/configs/config.h
  modules/lzma/lib/zephyr/module.yml
  soc/riscv/riscv-privilege/telink_b9x/Kconfig.defconfig.series
  soc/riscv/riscv-privilege/telink_b9x/Kconfig.soc
  soc/riscv/riscv-privilege/telink_tlx/Kconfig.defconfig.series
  soc/riscv/riscv-privilege/telink_tlx/Kconfig.soc
  west.yml
Labels: manifest, manifest-lzma

#416 Develop dual fix dual mode
  Kconfig.zephyr
  boards/riscv/tl321x/tl3218x-common.dtsi
  boards/riscv/tlsr9528a/tlsr9528a-common.dtsi
  boards/riscv/tlsr9528a/tlsr9528a-pinctrl.dtsi
  drivers/gpio/gpio_b9x.c
  drivers/i2c/i2c_b9x.c
  drivers/i2c/i2c_tlx.c
  drivers/pwm/pwm_b9x.c
  drivers/pwm/pwm_tlx.c
  include/zephyr/drivers/hwinfo.h
  kernel/Kconfig
  kernel/init.c
  west.yml
Labels: manifest, manifest-hal_telink, manifest-mcuboot
